body {
margin: 0;
padding: 0;
}


.navbar {
background-color: #333; 
height: 50px;
margin-bottom: 20px;
}


.nav-links {
list-style-type: none; 
margin: 0;
padding: 0;
display: flex; 
justify-content: flex-end; 
}

.nav-links li {
margin-left: 40px; 
}

.nav-links a {
text-decoration: none; 
color: white; 
font-weight: bold; 
font-size: 18px;
margin-top: 0; 
}


.nav-links a:hover {
color: #fdba55; 
}


.restaurants {
display: flex;
justify-content: space-between;
background-color: #fdba55; 
padding: 20px; 
margin-bottom: 10px;
}



.restaurant {
width: 30%; 
background-color: black; 
padding: 20px;
border: 1px solid #ccc;
text-align: center;
margin-right: 10px;
}

.restaurant h2 {
text-decoration: underline;
color: whitesmoke;
}

.restaurant p {

font-family: 'Times New Roman', Times, serif;
font-size: 18px;
text-align: justify;
color: white;
}

.restaurant img {
width: 100%; 
height: auto; 
}

.restaurant img:hover {
opacity: 0.7; 
}


.image-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: black;
margin-bottom: 30px;
}


.image-item {
width: calc(20% - 20px); 
margin: 10px;
overflow: hidden;
}

.image-item img {
width: 100%;
height: auto;
transition: transform 0.3s ease; 
}


.image-item:hover img {
transform: scale(1.1);
}

.menu-button button {
border-radius: 30%;
width: 100px;
height: 50px;
color: #00FF00;
font-weight: bold;
font-size: 16px;
background-color: white;
border: 1;
border-color: #00FF00;
position: relative;
overflow: hidden;
transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button button:hover {
background-color: #00FF00;
color: white; 
}



.chefs {
display: flex;
justify-content: space-between;
background-color: #fdba55; 
padding: 20px; 
margin-bottom: 10px;
}



.chef {
width: 30%; 
background-color: black; 
padding: 20px;
border: 1px solid #ccc;
text-align: center;
margin-right: 10px;
}

.chef h2 {
text-decoration: underline;
color: whitesmoke;
}

.chef p {

font-family: 'Times New Roman', Times, serif;
font-size: 18px;
text-align: justify;
color: white;
}

.chef img {
width: 150px; 
height: 150px; 
border-radius: 50%;
}

.chef:hover{

opacity: 0.7;
}

.chef img:hover {
opacity: 0.7; 
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    
}


@media screen and (max-width: 768px) {


.nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    background-color: #333;
    width: 100%;
}

.nav-links li {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.navbar .menu-icon {
    display: block; 
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    user-select: none;
    color: white;
}

.navbar #menu-toggle {
    display: none; 
}


.navbar .menu-icon::before {
    content: "\2630";
    display: none; 
}


#menu-toggle:checked + .menu-icon::before {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    
}


#menu-toggle:checked ~ .nav-links {
    display: flex;
    
}
.restaurants {
    flex-direction: column; 
    align-items: center; 
}

.restaurant {
    width: 100%; 
    margin-right: 0; 
}

.image-grid {
    margin-left: -5px; 
}


.chefs {
    flex-direction: column; 
    align-items: center; 
}

.chef {
    width: 100%; 
    margin-right: 0; 
}
}


#menu-icon:checked + .nav-links {
display: flex;
}


